@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12"  style="padding-top:15px;">
            <table><tr><td><h4 class="txt-color-blue">ข้อมูลสมาชิก</h4></td><td class="txt-color-blue" style="padding-top:2px">&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.Title</td></tr></table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                @if (ViewBag.panelBarMenu == "Create")
                {
                    <div class="panel-heading">
                        <table id="" class="panelTopBar">
                            <tr>
                                <td id="panelBar1" class="panelTopBarActive" onclick="location.href='@Url.Action("Create", "members")'">ข้อมูลตามบัตรประชาชน<br />และข้อมูลการติดต่อกลับ</td>
                            </tr>
                        </table>
                        </div>
                }
                else if (ViewBag.panelBarMenu == "Details")
                {
                    <div class="panel-heading" style="background-color:darkgray">
                        <table id="" class="panelTopBar">
                            <tr>
                                <td id="panelBar1" class="panelTopBarDetailsActive" onclick="location.href='@Url.Action("Details", "members")'">ข้อมูลตามบัตรประชาชน<br />และข้อมูลการติดต่อกลับ</td>
                            </tr>
                        </table>
                        </div>
                }
                else
                {
                    <div class="panel-heading">
                    <table id="" class="panelTopBar">
                        <tr>
                            <td id="members" onclick="location.href='@Url.Action("Edit", "members", new {id=ViewBag.memberId})'">ข้อมูลตามบัตรประชาชน<br />และข้อมูลการติดต่อกลับ</td>
                            <td id="mem_train_record" onclick="location.href='@Url.Action("Index", "mem_train_record", new {memberId=ViewBag.memberId})'">ประวัติ<br />การฝึกอบรม</td>
                            <td id="mem_site_visit" onclick="location.href='@Url.Action("Index", "mem_site_visit", new {memberId=ViewBag.memberId})'">ประวัติ<br />การดูงาน</td>
                            <td id="mem_social" onclick="location.href='@Url.Action("Index", "mem_social", new {memberId=ViewBag.memberId})'">ประสบการณ์ในการ<br />ช่วยเหลือสังคม</td>
                            <td id="mem_reward" onclick="location.href='@Url.Action("Index", "mem_reward", new {memberId=ViewBag.memberId})'">รางวัลเชิดชูเกียรติ<br />ที่เคยได้รับ</td>
                            <td id="mem_education" onclick="location.href='@Url.Action("Index", "mem_education", new {memberId=ViewBag.memberId})'">ข้อมูล<br />การศึกษา</td>
                            <td id="mem_health" onclick="location.href='@Url.Action("Index", "mem_health", new {memberId=ViewBag.memberId})'">ข้อมูล<br />สุขภาพ</td>
                            <td id="mem_worklist" onclick="location.href='@Url.Action("Index", "mem_worklist", new {memberId=ViewBag.memberId})'">ข้อมูลสถานที่ทำงาน<br />และประวัติการทำงาน</td>
                        </tr>
                    </table>
                    </div>
                }
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

                
@section scripts
{
    @RenderSection("scripts", required: false)

    <script>
        $.datepicker.regional['th'] = {
            dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
            yearRange: "-100:+0", yearOffSet: 543,beforeShow:dateDefault
        };
        $.datepicker.setDefaults($.datepicker.regional['th']);
        $(document).ready(function () {
            var nn = '@ViewContext.RouteData.Values["controller"]'; console.log("nn = "+nn);
            var act = '@ViewContext.RouteData.Values["action"]';
            $('#members').removeClass('panelTopBarActive');
            $('#mem_train_record').removeClass('panelTopBarActive');
            $('#mem_site_visit').removeClass('panelTopBarActive');
            $('#mem_social').removeClass('panelTopBarActive');
            $('#mem_reward').removeClass('panelTopBarActive');
            $('#mem_education').removeClass('panelTopBarActive');
            $('#mem_health').removeClass('panelTopBarActive');
            $('#mem_worklist').removeClass('panelTopBarActive');
            $('#' + nn).addClass('panelTopBarActive');

            $("#birthdate").datepicker($.datepicker.regional["th"]);

            $('#mem_photo').hide(); $('#cid_card_pic').hide();
            if (act != "Create") {
                if ("@ViewBag.memPhoto") {
                    $('#waitMemPhoto').hide(); $('#emptyMemPhoto').hide();
                    $('#picMemPhotoSrc').attr('src', '/@ViewBag.images_member/@ViewBag.memPhoto'); $('#picMemPhoto').show();
                }
                if ("@ViewBag.cidCardPhoto") {
                    $('#waitCidCardPhoto').hide(); $('#emptyCidCardPhoto').hide();
                    $('#picCidCardPhotoSrc').attr('src', '/@ViewBag.images_member/@ViewBag.cidCardPhoto'); $('#picCidCardPhoto').show();
                }
            }
            if (act == "Details") {
                $('input').each(function () {
                    if (!($(this).attr('disabled')) ){
                        $(this).attr({ 'disabled': 'disabled' });
                    }
                });
                $('select').each(function () {
                    if (!($(this).attr('disabled'))) {
                        $(this).attr({ 'disabled': 'disabled' });
                    }
                });
                if (!($('#birthdateButton').attr('disabled'))) {
                    $('#birthdateButton').attr({ 'disabled': 'disabled' });
                }
            }
        });
        $('#birthdateButton').click(function () {
            $('#birthdate').datepicker("show");
        });
        function dateDefault() {
            if ($("#birthdate").val() == "") { $("#birthdate").datepicker("setDate", new Date()); }
        }
        function setAge() {
            var dob = $('#birthdate').val().split('-');
            var d = new Date();
            var age = d.getFullYear() - dob[2] + 543;
            $('#current_age').val(age)
        }

        function setTextAAddress() {
            var texta = '';
            if ($('#place_name').val() != '') { texta += $('#place_name').val(); }
            if ($('#building').val() != '') { texta += ' อาคาร ' + $('#building').val(); }
            if ($('#floor').val() != '') { texta += ' ชั้น ' + $('#floor').val(); }
            if ($('#room').val() != '') { texta += ' ห้อง ' + $('#room').val(); }
            if ($('#village').val() != '') { texta += ' หมู่บ้าน ' + $('#village').val(); }
            $('#texta_address').val(texta);
        }
        function setTextBAddress() {
            var textb = '';
            if ($('#h_no').val() != '') { textb += 'บ้านเลขที่ ' + $('#h_no').val(); }
            if ($('#lot_no').val() != '') { textb += ' หมู่ที่ ' + $('#lot_no').val(); }
            if ($('#street').val() != '') { textb += ' ถนน ' + $('#street').val(); }
            if ($('#lane').val() != '') { textb += ' ตรอก/ซอย ' + $('#lane').val(); }
            $('#textb_address').val(textb);
        }
        function setTextCAddress() {
            var textc = '';
            if ($('#subdistrict_code').val() != '') { textc += 'ตำบล/แขวง ' + $('#subdistrict_code').val(); }
            if ($('#district_code').val() != '') { textc += ' อำเภอ ' + $('#district_code').val(); }
            if ($('#province_code').val() != '') { textc += ' จังหวัด ' + $('#province_code').val(); }
            if ($('#zip_code').val() != '') { textc += ' รหัสไปรษณีย์ ' + $('#zip_code').val(); }
            if ($('#zone').val() != '') { textc += ' ภาค ' + $('#zone').val(); }
            if ($('#country_code').val() != '') { textc += ' ประเทศ ' + $('#country_code').val(); }
            $('#textc_address').val(textc);
        }

        function uploadMemPhoto() {
            if ($('#fileMemPhoto')[0].files[0]) {
                $('#waitMemPhoto').show();
                var formData = new FormData();
                formData.append("fileMemPhoto", $('#fileMemPhoto')[0].files[0]);
                $.ajax({
                    type: 'post', url: '@Url.Action("uploadMemPhoto", "members")',
                    data: formData, processData: false, contentType: false,
                }).done(function (resp) {
                    var result = resp.result; var fileName = resp.fileName;
                    $('#mem_photo').val(resp.fileName);
                    $('#waitMemPhoto').hide(); $('#emptyMemPhoto').hide();
                    $('#picMemPhotoSrc').attr('src', '/@ViewBag.images_upload/' + resp.fileName); $('#picMemPhoto').show();
                });
            }
        }

        function uploadCidCardPhoto() {
            if ($('#fileCidCardPhoto')[0].files[0]) {
                $('#waitCidCardPhoto').show();
                var formData = new FormData();
                formData.append("fileCidCardPhoto", $('#fileCidCardPhoto')[0].files[0]);
                $.ajax({
                    type: 'post', url: '@Url.Action("uploadCidCardPhoto", "members")',
                    data: formData, processData: false, contentType: false,
                }).done(function (resp) {
                    var result = resp.result; var fileName = resp.fileName;
                    $('#cid_card_pic').val(resp.fileName);
                    $('#waitCidCardPhoto').hide(); $('#emptyCidCardPhoto').hide();
                    $('#picCidCardPhotoSrc').attr('src', '/@ViewBag.images_upload/' + resp.fileName); $('#picCidCardPhoto').show();
                });
            }
        }
    </script>
}

